# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_biogem=.TRUE.
ma_flag_atchem=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
#
# Topography
ma_fname_topo='worlg4'
# Grid resolution of climate components
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GENIENLOPTS='$(DEFINE)GENIENL=1'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
# Topography for climate components
ea_topo=worlg4
go_topo=worlg4
gs_topo=worlg4
# Wind forcing for climate components
ea_taux_u="worlg4.taux_u.interp"
ea_tauy_u="worlg4.tauy_u.interp"
ea_taux_v="worlg4.taux_v.interp"
ea_tauy_v="worlg4.tauy_v.interp"
ea_adv_u="worlg4.uncep.silo"
ea_adv_v="worlg4.vncep.silo"
bg_par_windspeed_file="trenberth_worlg4.k1_annualwindspeed.res"
# Assumed longitudinal offset of the grid
gm_par_grid_lon_offset=-260.0
#
#
# Topography
#ma_fname_topo='worjh2'
# Grid resolution of climate components
#GENIENXOPTS='$(DEFINE)GENIENX=36'
#GENIENYOPTS='$(DEFINE)GENIENY=36'
#GENIENLOPTS='$(DEFINE)GENIENL=1'
#GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
#GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
#GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
# Topography for climate components
#ea_topo=worjh2
#go_topo=worjh2
#gs_topo=worjh2
# Wind forcing for climate components
# Assumed longitudinal offset of the grid
#gm_par_grid_lon_offset=-260.0
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=24'
# Select tracers
gm_atm_select_3=.true.     #pCO2
gm_atm_select_4=.true.     #pCO2_13C
gm_atm_select_6=.true.      #pO2
gm_atm_select_16=.true.
gm_ocn_select_3=.true.      #DIC
gm_ocn_select_4=.true.      #DIC_13C 
gm_ocn_select_8=.true.      #PO4
gm_ocn_select_10=.true.     # O2
gm_ocn_select_12=.true.     # ALK 
gm_ocn_select_15=.true.     # DOM_C
gm_ocn_select_16=.true.     # DOM_C_13C 
gm_ocn_select_18=.true.     #   DOM_N --
gm_ocn_select_20=.true.     # DOM_P 
gm_ocn_select_22=.true.     # DOM_Fe 
#gm_ocn_select_23=.true.    #  FeL 
#gm_ocn_select_24=.true.    # L
gm_ocn_select_35=.true.     # Ca
gm_ocn_select_38=.true.     #   SO4 -- 'dissolved sulphate (SO4)'
gm_ocn_select_40=.true.     #   H2S -- 'dissolved hydrogen sulphide (H2S)'
gm_ocn_select_42=.true.     # TL
gm_ocn_select_50=.true.     # Mg
gm_ocn_select_67=.true.     #   RDOM_C
gm_ocn_select_70=.true.     #   RDOM_N
gm_ocn_select_72=.true.     #   RDOM_P
gm_ocn_select_90=.true.     # TDFe
gm_ocn_select_110=.true.    #   URDOM_C
gm_ocn_select_111=.true.    #   URDOM_N
gm_ocn_select_112=.true.    #   URDOM_P
gm_sed_select_3=.true.      # POC 
gm_sed_select_4=.true.      #POC_13C
gm_sed_select_8=.true.     # POP
gm_sed_select_10=.true.    # POFe
gm_sed_select_13=.true.    #  POM_Fe
gm_sed_select_14=.true.    #  CaCO3 
gm_sed_select_15=.true.    #  CaCO3_13C
gm_sed_select_21=.true.    #  CaCO3_Fe
gm_sed_select_22=.true.    #  det 
gm_sed_select_25=.true.    # det_Fe 
gm_sed_select_32=.true.    #  ash 
gm_sed_select_33=.true.   # POC_frac2 
gm_sed_select_34=.true.   # CaCO3_frac2
gm_sed_select_36=.true.   # CaCO3_age
# Set tracer initial values
ac_atm_init_3=278.0E-06
ac_atm_init_4=-6.5
ac_atm_init_6=0.2095
bg_ocn_init_3=2.244E-03
bg_ocn_init_4=0.4
bg_ocn_init_8=2.159E-06
#bg_ocn_init_9=0.650E-09
bg_ocn_init_10=1.696E-04
bg_ocn_init_12=2.363E-03
bg_ocn_init_15=1.033E-05
bg_ocn_init_16=0.0
bg_ocn_init_18=0.0615E-05  ! DOM_N
bg_ocn_init_20=0.0
bg_ocn_init_22=0.0
#bg_ocn_init_23=0.0
#bg_ocn_init_24=1.000E-09
bg_ocn_init_35=1.025E-02
bg_ocn_init_38=2.800E-02
bg_ocn_init_42=1.000E-09
bg_ocn_init_50=5.282E-02
bg_ocn_init_67=5.0E-05     ! RDOM_C
bg_ocn_init_70=0.75E-05    ! RDOM_N
bg_ocn_init_72=0.0472E-05  ! RDOM_P
bg_ocn_init_90=0.650E-09   ! total DFe
bg_ocn_init_110=4.0E-05    ! URDOM_C
bg_ocn_init_111=0.6E-05    ! URDOM_N
bg_ocn_init_112=0.03E-05   ! URDOM_P
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CONFIGURATION #1: main goin parameters
# *******************************************************************
# temp0
go_10=0.0
# temp1
go_11=0.0
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.2
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.2
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
## extra1a
#ea_25=-2.1228021E-02
## extra1b
#ea_26=0.1202921
## extra1c
#ea_27=0.1273681
# SclFWF
ea_28=0.8
# sea-ice eddy diffusivity / SeaiceDiff
gs_11=3573.718017578125000000
#diffusivity scaling factor
ea_diffa_scl=0.25
#grid point distance over which scalar is applied (j direction)
ea_diffa_len=3
#
#
#
# temp0
#go_10=0.0
# temp1
#go_11=0.0
# rel
#go_12=0.9000000
# scl_tau / SclTau
#go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
#go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
#go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
#go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
#ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
#ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
#ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
#ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
#ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
#ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
#ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
#ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
#ea_19=0.164652019739151000
## extra1a
#ea_25=-2.1228021E-02
## extra1b
#ea_26=0.1202921
## extra1c
#ea_27=0.1273681
# SclFWF
#ea_28=0.726862013339996340
# sea-ice eddy diffusivity / SeaiceDiff
#gs_11=3573.718017578125000000
#diffusivity scaling factor
#ea_diffa_scl=0.25
#grid point distance over which scalar is applied (j direction)
#ea_diffa_len=3
# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
